<!--<div id="app">
  <nav *ngIf="router.url != '/login' && router.url != '/register'" class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">RCV</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home" *ngIf="isManager()">Home </a>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link" *ngIf="isLoggedIn" routerLink="profile">User</a>
      </li>
      <li class="nav-item">
        <a href="/addJobOffer" class="nav-link"  routerLink="addJobOffer"> add jobOffer</a>
      </li>
      <li class="nav-item">
        <a href="/listJobOffer" class="nav-link"  routerLink="listJobOffer"> get jobOffer</a>
      </li>
      <li class="nav-item">
        <a href="/archivedJobOffer" class="nav-link"  routerLink="archivedJobOffer"> archived jobOffer</a>
      </li>
      <li class="nav-item">
        <a href="/offer" class="nav-link"  routerLink="offer"> offer</a>
      </li>
      <li class="nav-item">
        <a href="/addQuiz" class="nav-link"  routerLink="addQuiz"> Ajouter Quiz</a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ email }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>-->

<nav *ngIf="router.url != '/login' && router.url != '/register' "  role="navigation" class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-1  shadow">
  <img src="../assets/images/FIS.png" height="40" width="200">
  <ul class="navbar-nav flex-row ml-md-auto d-md-flex align-items-center mr-3">
    <li class="nav-item dropdown" ngbPopover="Modifier votre profil" triggers="mouseenter:mouseleave" routerLink="/profile">
      <button type="button" class="nav-link btn btn-link btn-inverse  d-flex align-items-center" >
        <span class="svg-avatar mr-1" aria-hidden="true"></span>
        <span>Bonjour <span class="text-primary">{{this.user1.email}}</span></span>
      </button>

    </li>
    <li class="nav-item" >


      <a class="nav-link btn btn-link"  routerLink="/home" (click)="logout()" >Déconnexion</a>
    <li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav *ngIf="router.url != '/login' && router.url != '/register'"  id="sidebarMenu" role="navigation" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">


      <div class="sidebar-sticky pt-3">

        <ul class="nav flex-column">

          <li class="nav-item" >
            <a class="nav-link " routerLink="/home" *ngIf="isManager()">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>            Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/addQuiz" *ngIf="isManager()">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
              Quiz
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/offer" *ngIf="isManager()" >
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>            Offres
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/addcv" >
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>            Ajouter Cv
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listcv" *ngIf="isManager()">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>            List des Cv
            </a>
          </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="/listJobOffer">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>            List des offres
          </a>
        </li>

        </ul>
        <img class="logofis " src="../assets/images/FIS.png">
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>





