<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-5 pb-2 mb-3 border-bottom">
  <h1 class="h2">Listes des offre</h1>
</div>

<mat-card class="example-card"    >
  <div class="row-cols-3" *ngFor=" let offre of ListOffre">
  <mat-card-header>
    <mat-card-title>{{offre.projectName}}</mat-card-title>
    <mat-card-subtitle>{{offre.startDate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{offre.projectDescription}}
    </p>
  </mat-card-content>
  </div>
</mat-card>
