<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-5 pb-2 mb-3 border-bottom">
  <h1 class="h2">Ajouter Cv</h1>

</div>


<br>
<form *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && uploadfile()"
      #f="ngForm"
      novalidate>
  <div class="widget">
    <div >

      <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
             aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
          {{progress.percentage}}%</div>
      </div>

      <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)">
      </label>

      </div>

      <button  class="btn btn-success" [disabled]="!selectedFiles" type="submit" >valider</button>
    </div>
</form>
