<div class="login">
  <div class="card card-container" >
    <img class="center" src="./assets/images/FIS.png"  width="250" height="150">
    <form

      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">

        <input
          type="text"
          class="form-control"
          name="eNumber"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
          placeholder="Email"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && email.invalid"
        >
          email est demandé!
        </div>
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          placeholder="Mot de Passe"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && password.invalid"
        >
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 8 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-block">
          Se connecter
        </button>
      </div>
      <p>Vous n'avez pas encore de compte ?<a routerLink="/register"> Créez-en un.</a></p>

    </form>


</div>
</div>
