
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-5 pb-2 mb-3 border-bottom">
  <h1 class="h2">Gestion des Quiz</h1>

</div>


<br>

<!--afficher les offres d'emploi-->

<div *ngIf="div1">
  <table id="news-table" class="table tablesorter mb-5 tablesorter-default tablesorterebe97d3cffd22" role="grid" aria-labelledby="tablesorterebe97d3cffd22caption">
    <caption id="tablesorterebe97d3cffd22caption">
      Liste des Quiz    <button (click)="showAjout()" class="btn  btn-success">Ajouter un quiz</button>
    </caption>
    <thead class="cf">
    <tr role="row" class="tablesorter-headerRow">
      <th scope="col" class="header tablesorter-header " data-column="1" tabindex="0" role="columnheader" aria-disabled="true" aria-controls="news-table"  aria-sort="none" aria-label="Title: No sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner"><span>Nom</span></div></th>
      <th scope="col" class="header  " data-column="3" tabindex="0" role="columnheader" aria-disabled="true" aria-controls="news-table"  aria-label="Category: No sort applied, activate to apply an ascending sort" style="user-select: none;"><span>Date d'ajout</span>
      <th scope="col" class="header  " data-column="6" tabindex="0" role="columnheader" aria-disabled="true" aria-controls="news-table"  aria-label="Category: No sort applied, activate to apply an ascending sort" style="user-select: none;"><span>Etat</span>

      <th scope="col" class="header tablesorter-header  " data-column="4" role="columnheader" aria-disabled="true" unselectable="on" aria-sort="none" aria-label="Actions: No sort applied, sorting is disabled" style="user-select: none;"><div class="tablesorter-header-inner"><span>Actions</span></div></th>
    </tr>
    </thead>
    <tbody aria-live="polite" aria-relevant="all">
    <tbody aria-live="polite" aria-relevant="all">

    <tr role="row" *ngFor="let quiz of quizs">
      <td class="align-middle" ><a  (click)="openDetails(content,quiz.idQuiz)" ngbPopover="Cliquez pour voir plus de détails" triggers="mouseenter:mouseleave"><strong>{{quiz.quizName}}</strong></a></td>
      <td class="align-middle">{{quiz.date |  date: 'dd/MM/yyyy'}}</td>

      <td class="align-middle">
        <div *ngIf= "quiz.visible">
          <span  class="badge badge-lg badge-success">Valide</span>

        </div>
        <div *ngIf= "!quiz.visible">
          <span  class="badge badge-lg badge-danger">archived</span>

        </div>

      </td>
      <td >
        <a  (click)="showModif(quiz.idQuiz)" ngbPopover="Cliquez ici pour modifier ce quiz " triggers="mouseenter:mouseleave">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>


        </a>
        <a class="icon icon-Archive"   (click)="openArchive(content1,quiz.idQuiz)" ngbPopover="Cliquez ici pour archiver ce quiz " triggers="mouseenter:mouseleave">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-archive" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </a>
      </td>

    </tr>
    </tbody>
  </table>
</div>

<!--Ajouter un Quiz-->
<div *ngIf="div2">
  <h2>Ajouter un Quiz</h2>
  <div class="row mb-3">
    <div class="col-sm-8">
      <div *ngIf="errorAdd" class="form-label-group">
        <div  class="alert alert-danger" role="alert">Veuillez remplir tous les champs</div>
      </div>


        <div *ngFor="let question of this.quiz.questionsList,let index = index">
          <div class="form-group" >
            <label  for="inputQuestion" class="is-required"> question{{index+1}} : {{question.question}} </label>
          </div>
          <div class="form-group" *ngFor="let option of question.optionList,let index =index">
            <label  for="inputQuestion" class="is-required"> option{{index+1}}: {{option.optionName}}</label>
          </div>

        </div>

        <div class="form-group">
          <label for="inputQuestion" class="is-required">questions</label>
          <input type="text" class="form-control"   [(ngModel)]="this.questionToAdd.question" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group" *ngFor="let option of this.questionToAdd.optionList,let index = index">
          <label for="inputQuestion" class="is-required">Option {{index+1}}: </label>
          <input type="text" class="form-control" required="" [(ngModel)]="option.optionName" [ngModelOptions]="{standalone: true}">
          <input  class="form-control" required=""  [(ngModel)]="option.correct" type="checkbox" data-toggle="toggle" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="btn-toolbar  ">

          <input type="button"  class="btn btn-success " (click)="AjoutQuestion()" value="Ajouter Question">
        </div>
      <form    role="form" >
        <div class="form-group">
          <label for="inputName" class="is-required">Nom du quiz</label>
          <input type="text" class="form-control" id="inputName" required="" name="nom" [(ngModel)]="this.quiz.quizName">
        </div>


        <div class="btn-toolbar  ">
          <button type="submit" name="cancel" (click)="showOffrePage()" class="btn btn-secondary mx-1">Annuler</button>

          <button type="submit" name="submit" class="btn btn-success " (click)="AjoutQuiz()">Ajouter</button>
        </div>
      </form>



    </div>
  </div>
</div>


<!--Modifier une offre d'emploi-->


<div *ngIf="div3" >
  <h2>Modifier un quiz</h2>
  <div class="row mb-3">
    <div class="col-sm-8">
      <div *ngIf="errorAdd" class="form-label-group">
        <div  class="alert alert-danger" role="alert">Veuillez remplir tous les champs</div>
      </div>
      <form role="form" >
        <div class="form-group">
          <label for="inputNamemodif" class="is-required">Nom</label>
          <input type="text" class="form-control" id="inputNamemodif" required="" name="titre" [(ngModel)]="modifQuiz.quizName">
        </div>
      <!--  <div class="form-group has-warning">
          <label for="inputEmailmodif" class="is-required" >Description</label>
          <textarea  class="form-control" id="inputEmailmodif" name="description" [(ngModel)]="modifQuiz.questionList"  required=""></textarea>
        </div>-->


        <!-- <div class="form-group ">
           <label for="etat" class="is-required" >Etat</label>

           <select class="custom-select" name="etat" id="etat"  [(ngModel)]="modifOffre.etat">
             <option value="actif">Active</option>
             <option value="archivé">Archivée</option>
           </select>
         </div>-->



        <div class="btn-toolbar ">
          <button type="submit" name="cancel" (click)="showOffrePage()" class="btn btn-secondary mx-1">Annuler</button>
          <button type="submit" name="submit" class="btn btn-success" (click)="updateQuiz(this.modifQuiz.idQuiz)">Modifier</button>
        </div>
      </form>
    </div>
  </div></div>

<!--ici le modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-content border">

    <div class="modal-body">
      <h4 class="col-12 modal-title text-center" id="modal-basic-title">{{oneQuiz.quizName}}</h4>
      <br>
      <p><strong>Date : </strong>{{oneQuiz.date}} </p>

      <div *ngFor="let question of this.oneQuiz.questionsList,let index = index">
        <div class="form-group" >
          <label  for="inputQuestion" class="is-required"> <strong>question{{index+1}}:</strong> {{question.question}} </label>
        </div>
        <div class="form-group" *ngFor="let option of question.optionList,let index =index">
          <label  for="inputQuestion" class="is-required"> <strong>option{{index+1}}: </strong>{{option.optionName}}</label>
        </div>

    </div>
  </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>



<!--ici le modal Suppression -->
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" >Archivage</h4>
    <button type="button" class="close" aria-label="Close"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert">Voulez-vous vraiment archiver ce quiz ?</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.close('Close click')">Annuler</button>
    <button type="button" class="btn btn-danger" (click)="archiverQuiz()">Archiver</button>
  </div>
</ng-template>
